*{margin: 0;}
.back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(256,256,256,.1); */
  /* background-image: url('../../assets/bg.png'); */
  z-index: -1;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transform: scale(1.1);
  overflow: hidden;
}
.main{
  display: flex;
  justify-content: center;
}
.main .box{
  width: 400px;
  background: #000;
  color: #fff;
  padding: 10px;
}
.main .box .box-title{
  padding: 20px;
}
.main .box .box-msg{
  padding: 10px;
  color: #666;
}
.main .box .btn-row{
  margin: 20px 0 0 0;
}
.main .box .btn-row .btn{
  display: inline-block;
  width: 50%;
  border-radius: 0;
  padding: 15px 0;
}
.main .box .btn-row .btn:nth-child(1){
  background: #000;
}
.login2{
  backdrop-filter: blur(2px);
  /* background: #f00; */
}