*{margin: 0;}
.back_layer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/bg.png');
  z-index: -10;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transform: scale(1.1);
  overflow: hidden;
}
.body{
}
.body .left_bar{
  position: fixed;
  top: 0;
  min-height: 100vh;
  background: #000;
}
.ListItem{
  /* background: #f00; */
  width: 70px;
}
.List2{
  position: fixed;
  bottom: 0;
}
.Avatar{
  background: #444;
}
.ImageIcon{
  color: #aaa;
}
.btn_plus{
  padding: 10px;
}
.user_image{
  width: 50px;
}