*{margin: 0;}
.back_layer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/bg.png');
  z-index: -10;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transform: scale(1.1);
  overflow: hidden;
}
.layer_main{
  
}
.body{
}
.page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .box{
  background: #000;
  display: inline-block;
  padding: 10px;
  position: relative;
  border-radius: 50%;
}
.page .box .text{
  display: block;
  color: #fff;
  padding: 20px;
}
.circle{
  color: radial-gradient(red, green, red);
}